USE [master]
GO
/****** Object:  Database [StudentsRooms]    Script Date: 16-05-2023 12:38:03 PM ******/
CREATE DATABASE [StudentsRooms] ON  PRIMARY 
( NAME = N'StudentsRooms', FILENAME = N'e:\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\StudentsRooms.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'StudentsRooms_log', FILENAME = N'e:\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\StudentsRooms_log.ldf' , SIZE = 3136KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentsRooms].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentsRooms]
GO
/****** Object:  Table [dbo].[District]    Script Date: 16-05-2023 12:38:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[District](
	[DistrictId] [int] NOT NULL,
	[DistrictName] [varchar](50) NOT NULL,
	[StateId] [smallint] NOT NULL,
 CONSTRAINT [Pk_District] PRIMARY KEY CLUSTERED 
(
	[DistrictId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Owner_Table]    Script Date: 16-05-2023 12:38:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Owner_Table](
	[owner_id] [int] IDENTITY(1,1) NOT NULL,
	[owner_name] [nvarchar](max) NULL,
	[owner_mobile1] [nvarchar](max) NULL,
	[owner_mobile2] [nvarchar](max) NULL,
	[owner_email] [nvarchar](max) NULL,
	[owner_password] [nvarchar](max) NULL,
	[status] [nvarchar](max) NULL,
	[rts] [nvarchar](max) NULL,
 CONSTRAINT [PK_Tenant_Table] PRIMARY KEY CLUSTERED 
(
	[owner_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Property_Table]    Script Date: 16-05-2023 12:38:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Property_Table](
	[property_id] [int] IDENTITY(1,1) NOT NULL,
	[owner_id] [int] NULL,
	[property_name] [nvarchar](max) NULL,
	[property_purpose] [nvarchar](max) NULL,
	[property_type] [nvarchar](max) NULL,
	[property_price] [decimal](18, 0) NULL,
	[property_rent] [decimal](18, 0) NULL,
	[property_size] [nvarchar](max) NULL,
	[property_room_no] [int] NULL,
	[property_bathroom_no] [int] NULL,
	[property_kitchen_no] [int] NULL,
	[property_balcony_no] [int] NULL,
	[property_age] [decimal](18, 0) NULL,
	[property_image1] [nvarchar](max) NULL,
	[property_image2] [nvarchar](max) NULL,
	[property_image3] [nvarchar](max) NULL,
	[property_image4] [nvarchar](max) NULL,
	[property_image5] [nvarchar](max) NULL,
	[property_address] [nvarchar](max) NULL,
	[property_city] [int] NULL,
	[property_district] [int] NULL,
	[property_state] [int] NULL,
	[property_postal_code] [int] NULL,
	[property_parking] [bit] NULL,
	[property_wifi] [bit] NULL,
	[property_ac] [bit] NULL,
	[property_water_supply] [bit] NULL,
	[property_window] [bit] NULL,
	[property_video] [nvarchar](max) NULL,
	[property_map] [nvarchar](max) NULL,
	[status] [bit] NULL,
	[rts] [datetime] NULL,
 CONSTRAINT [PK_Property_Table] PRIMARY KEY CLUSTERED 
(
	[property_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Review_Table]    Script Date: 16-05-2023 12:38:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review_Table](
	[review_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[property_id] [int] NULL,
	[review_comment] [nvarchar](max) NULL,
	[review_rating] [int] NULL,
	[review_rts] [datetime] NULL,
 CONSTRAINT [PK_Review_Table] PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[State]    Script Date: 16-05-2023 12:38:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[State](
	[StateId] [int] NOT NULL,
	[StateName] [varchar](50) NOT NULL,
 CONSTRAINT [Pk_State] PRIMARY KEY CLUSTERED 
(
	[StateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tehsile]    Script Date: 16-05-2023 12:38:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tehsile](
	[TehsilId] [int] NOT NULL,
	[TehsilName] [varchar](50) NOT NULL,
	[DistrictId] [smallint] NOT NULL,
 CONSTRAINT [Pk_Tehsile] PRIMARY KEY CLUSTERED 
(
	[TehsilId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[District] ([DistrictId], [DistrictName], [StateId]) VALUES (1, N'BHILWARA', 1)
INSERT [dbo].[District] ([DistrictId], [DistrictName], [StateId]) VALUES (2, N'ASSAM', 2)
INSERT [dbo].[District] ([DistrictId], [DistrictName], [StateId]) VALUES (3, N'AGRA', 3)
GO
SET IDENTITY_INSERT [dbo].[Owner_Table] ON 

INSERT [dbo].[Owner_Table] ([owner_id], [owner_name], [owner_mobile1], [owner_mobile2], [owner_email], [owner_password], [status], [rts]) VALUES (15, N'Om Sharma', N'8999292525', N'8999292529', N'omsharma9367@gmail.com', N'1234', N'1', N'25-04-2023 11:54:05 PM')
INSERT [dbo].[Owner_Table] ([owner_id], [owner_name], [owner_mobile1], [owner_mobile2], [owner_email], [owner_password], [status], [rts]) VALUES (16, N'ttt', N'7777', N'7', N'7', N'ii', N'1', NULL)
SET IDENTITY_INSERT [dbo].[Owner_Table] OFF
SET IDENTITY_INSERT [dbo].[Property_Table] ON 

SET IDENTITY_INSERT [dbo].[Property_Table] OFF
SET IDENTITY_INSERT [dbo].[Review_Table] ON 

INSERT [dbo].[Review_Table] ([review_id], [user_id], [property_id], [review_comment], [review_rating], [review_rts]) VALUES (465, 15, 17, N'[Review_Table]', NULL, CAST(N'2023-05-15 12:29:38.647' AS DateTime))
INSERT [dbo].[Review_Table] ([review_id], [user_id], [property_id], [review_comment], [review_rating], [review_rts]) VALUES (466, 15, 17, N'Leave a Comment Leave a Comment Leave a Comment', NULL, CAST(N'2023-05-15 12:32:08.490' AS DateTime))
INSERT [dbo].[Review_Table] ([review_id], [user_id], [property_id], [review_comment], [review_rating], [review_rts]) VALUES (467, 15, 17, N'0.5 rt', NULL, CAST(N'2023-05-15 12:34:32.683' AS DateTime))
SET IDENTITY_INSERT [dbo].[Review_Table] OFF
INSERT [dbo].[State] ([StateId], [StateName]) VALUES (1, N'RAJASTHAN')
INSERT [dbo].[State] ([StateId], [StateName]) VALUES (2, N'ASSAM')
INSERT [dbo].[State] ([StateId], [StateName]) VALUES (3, N'UTTAR PRADESH')
INSERT [dbo].[Tehsile] ([TehsilId], [TehsilName], [DistrictId]) VALUES (-1, N'', 0)
INSERT [dbo].[Tehsile] ([TehsilId], [TehsilName], [DistrictId]) VALUES (1, N'MANDAL', 1)
INSERT [dbo].[Tehsile] ([TehsilId], [TehsilName], [DistrictId]) VALUES (2, N'SHAHPURA', 1)
GO
USE [master]
GO
