@model StudentsRooms.Models.Owner_Table

@{
    ViewBag.Title = "changePassword";
}

<div class="content-area-6 change-password">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <!-- User account box start -->
                <div class="user-account-box mb-50">
                    <div class="content">
                        <ul>
                            <li>
                                <a href="~/Landlord/Dashboard/">
                                    <i class="flaticon-social"></i>Profile
                                </a>
                            </li>
                            <li>
                                <a href="~/Landlord/UserProperties/">
                                    <i class="flaticon-apartment"></i>My Properties
                                </a>
                            </li>
                            <li>
                                <a href="~/Landlord/AddProperty/">
                                    <i class="fa fa-plus"></i>Submit New Property
                                </a>
                            </li>
                            <li>
                                <a href="~/Landlord/changePassword/" class="active">
                                    <i class="flaticon-security"></i>Change Password
                                </a>
                            </li>
                            <li>
                                <a href="~/User/Logout/">
                                    <i class="flaticon-sign-out-option"></i>Logout
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
                <!-- User account box end -->
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12">
                <!-- My address start -->
                <div class="my-address mb-30">
                    <div class="main-title-4">
                        <h1 class="mb-4"><span>Change</span> Password</h1>
                    </div>
                    @using (Html.BeginForm("changePassword", "Landlord", FormMethod.Post))
                    {
                        <div class="form-group">
                            <label for="current_owner_password" class="form-label">Current Password</label>
                            <input type="password" name="current_owner_password" class="form-control" id="current_owner_password" placeholder="Current Password">
                        </div>
                        <div class="form-group">
                            <label for="owner_password" class="form-label">New Password</label>
                            <input type="password" name="owner_password" class="form-control" id="owner_password" placeholder="Confirm New Password">
                        </div>
                        <div class="form-group">
                            <label for="confirm_owner_password" class="form-label">Confirm New Password</label>
                            <input type="password" name="confirm_owner_password" class="form-control" id="confirm_owner_password" placeholder="New Password">
                        </div>

                        <button type="submit" class="btn-2 btn-defaults"><span>Save Changes</span> <i class="arrow"></i></button>
                    }
                </div>
                <!-- My address end -->
            </div>
        </div>
    </div>
</div>
<!-- Change password end -->
